<h1 class="pb-3">
    Todo App
</h1>
<form action="getUserName" method="post">
  <div class="mb-3" >
    <label for="" class="form-label">Please Enter Your Name</label>
    <input type="text" class="form-control" name="username">
    <div id="emailHelp" class="form-text">
        We'll never share your name with anyone else.
        </div>
         
    <button type="submit" class="btn btn-primary mt-3" >Submit</button>
  </div>
</form>
