@model Employee

<form action="/Employee/Create" method="post">

    <div class="mb-3">
        <label for="Name" class="form-label "> Employee Name * </label>
        <input type="text" class="form-control" name="Name">
        <div id="" class="form-text">
            Name is required
        </div>
        <div class="invalid-feedback" asp-validation-for="Name"></div>
    </div>


    <div class="mb-3">
        <label for="Phone" class="form-label"> Employee Phone * </label>
        <input type="text" class="form-control" name="Phone">
        @* <div class="invalid-feedback" asp-validation-for="Phone"></div> *@

    </div>

    <div class="mb-3">
        <label for="Email" class="form-label"> Employee Email * </label>
        <input type="email" class="form-control" name="Email">
        <div id="" class="form-text">
            Email is required in its correct format
        </div>
        <div class="invalid-feedback" asp-validation-for="Email"></div>

    </div>

    <div class="mb-3">
        <label for="Address" class="form-label"> Employee Address * </label>
        <input type="text" class="form-control" name="Address">
        <div id="" class="form-text">
            Address is required and choose from
            Cairo , Alexandria , Mansoura
        </div>
        <div class="invalid-feedback" asp-validation-for="Address"></div>

    </div>

    @* <div class="mb-3">
    <label for="DepartmentId" class="form-label">DepartmentId</label>
    <input type="number" min="1" max="7" class="form-control" name="DepartmentId">
    </div> *@

    <div class="mb-3">
        <label for="DepartmentId" class="form-label">DepartmentId *</label>
        <select class="form-select" name="DepartmentId">
            <option value="1">HR</option>
            <option value="2">IT</option>
            <option value="3">Finance</option>
            <option value="4">Marketing</option>
            <option value="5">Sales</option>
            <option value="6">Production</option>
            <option value="7">Quality</option>


        </select>
    </div>




    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>