<section class="page-header-section service-title style-1"
         style="background-image: url('@Url.Content("~/images/pageheader/pageheader.jpg")')">
    <div class="page-header-content">
        <div class="container">
            <div class="page-header-content-inner">
                <div class="page-title">
                    <h2>About us</h2>
                </div>
                <ol class="breadcrumb">
                    <li>Home</li>
                    <li>About us</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- ==========Service Section Start Here========== -->
<section class="service-section style-1 padding-tb">
    <div class="container">
        <div class="section-wrapper">
            <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="~/images/service/01.jpg" alt="service">
                    </div>
                    <div class="service-content bg-color">
                        <h4><a href="#">Family Health Solutions</a></h4>
                        <p>
                            Proced arrain manu produc rather conve quvat mantan this conven multscplinari testin
                            motin was procedur aamng proced arrain manu produc rather conve quvat mantan this
                            convenmultscplinari testiners motin was procedur arramin
                        </p>
                        <a href="#" class="lab-btn">
                            <span>
                                Read More <i class="icofont-rounded-double-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="~/images/service/02.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Eye Care Solutions</a></h4>
                        <p>
                            Cabor levera then andin the
                            Qualit bwdh then covae thm
                            Uabor evera then andin meqe
                            Any value cordin
                        </p>
                        <a href="#" class="lab-btn">
                            <span>
                                Read More <i class="icofont-rounded-double-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-item wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="~/images/service/03.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Children’s Health</a></h4>
                        <p>
                            Cabor levera then andin the
                            Qualit bwdh then covae thm
                            Uabor evera then andin meqe
                            Any value cordin
                        </p>
                        <a href="#" class="lab-btn">
                            <span>
                                Read More <i class="icofont-rounded-double-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="~/images/service/04.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Dental Surgery</a></h4>
                        <p>
                            Proced arrain manu produc rather conve quvat mantan this conven multscplinari testin
                            motin was procedur aamng proced arrain manu produc rather conve quvat mantan this
                            convenmultscplinari testiners motin was procedur arraming
                        </p>
                        <a href="#" class="lab-btn">
                            <span>
                                Read More <i class="icofont-rounded-double-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Service Section Ends Here========== -->
<!-- ==========Service Section-2 Start Here========== -->
<section class="service-section style-1 style-3 padding-tb"
         style="background-image: url(~/images/service/bg.jpg); background-size: cover;">
    <div class="container">
        <div class="section-header">
            <h2><span>We Are</span></h2>
            <h2>Offering Reliable Services</h2>
        </div>
        <div class="section-wrapper">
            <div class="row no-gutters">
                <div class="col-lg-6 col-12">
                    <div class="service-item">
                        <div class="service-thumb">
                            <img src="~/images/service/05.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="content-icon">
                                <img src="~/images/service/icon/07.png" alt="">
                            </div>
                            <h4>Laboratory Analysis</h4>
                            <p>Cabor levera then andin thameo qualit bwdh then covae thm any value cordininger</p>
                            <a href="#" class="text-btn">Read More <i class="icofont-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="service-item">
                        <div class="service-thumb">
                            <img src="~/images/service/06.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="content-icon">
                                <img src="~/images/service/icon/08.png" alt="">
                            </div>
                            <h4>Gynaecological Clinic</h4>
                            <p>Cabor levera then andin thameo qualit bwdh then covae thm any value cordininger</p>
                            <a href="#" class="text-btn">Read More <i class="icofont-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="service-item">
                        <div class="service-thumb">
                            <img src="~/images/service/07.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="content-icon">
                                <img src="~/images/service/icon/09.png" alt="">
                            </div>
                            <h4>Ophthalmology Clinic</h4>
                            <p>Cabor levera then andin thameo qualit bwdh then covae thm any value cordininger</p>
                            <a href="#" class="text-btn">Read More <i class="icofont-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="service-item">
                        <div class="service-thumb">
                            <img src="~/images/service/05.jpg" alt="service">
                        </div>
                        <div class="service-content">
                            <div class="content-icon">
                                <img src="~/images/service/icon/10.png" alt="">
                            </div>
                            <h4>Laryngological Clinic</h4>
                            <p>Cabor levera then andin thameo qualit bwdh then covae thm any value cordininger</p>
                            <a href="#" class="text-btn">Read More <i class="icofont-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Service Section-2 Ends Here========== -->
<!-- ==========Sponsor Section Start Here========== -->
<div class="sponsor-section">
    <div class="container">
        <div class="sponsor-area">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/1.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/2.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/3.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/4.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/5.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/6.png" alt="sponso-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Sponsor Section Ends Here========== -->