@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ==========Banner Section Start Here========== -->
<section class="banner-section" style="background-image: url(~/images/banner/1.jpg);">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-content">
                <h2 class="wow fadeInDown" data-wow-duration="2s" data-wow-delay=".1s">
                    Best Medical
                    Clinic
                </h2>
                <h1 class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".1s">
                    <b>
                        Bringing
                        Health
                    </b> To Life For The Whole Family...
                </h1>
                <a href="#" class="lab-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                    <span>
                        Get
                        Appoinments <i class="icofont-rounded-double-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->
<!-- ==========Feature Section Start Here========== -->
<section class="feature-section padding-tb bg-color">
    <div class="container">
        <div class="feature-section-wrapper">
            <div class="section-header wow fadeInUp" data-wow-delay="" data-wow-duration="1s">
                <h2><span>We Offer Specialized</span> </h2>
                <h2> Orthopedics To Meet Your Needs</h2>
            </div>
            <div class="section-content">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="lab-item feature-item wow fadeInLeft" data-wow-delay=".2s"
                             data-wow-duration="1s">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <img src="~/images/feature/1.png" alt="feature img">
                                </div>
                                <div class="lab-content">
                                    <h4>Medical Treatment</h4>
                                    <p>
                                        Lorem ipsum dolor sit amete consectetur adipisicing elite. vlote optio animi?
                                    </p>
                                    <a href="#" class="">
                                        <span>
                                            Read More <i class="icofont-rounded-double-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="lab-item feature-item wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <img src="~/images/feature/2.png" alt="feature img">
                                </div>
                                <div class="lab-content">
                                    <h4>Emergency Help</h4>
                                    <p>
                                        Lorem ipsum dolor sit amete consectetur adipisicing elite. vlote optio animi?
                                    </p>
                                    <a href="#" class="">
                                        <span>
                                            Read More <i class="icofont-rounded-double-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="lab-item feature-item wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <img src="~/images/feature/3.png" alt="feature img">
                                </div>
                                <div class="lab-content">
                                    <h4>Medical Professionals</h4>
                                    <p>
                                        Lorem ipsum dolor sit amete consectetur adipisicing elite. vlote optio animi?
                                    </p>
                                    <a href="#" class="">
                                        <span>
                                            Read More <i class="icofont-rounded-double-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="lab-item feature-item wow fadeInRight" data-wow-delay=".2s"
                             data-wow-duration="1s">
                            <div class="lab-inner">
                                <div class="lab-thumb">
                                    <img src="~/images/feature/4.png" alt="feature img">
                                </div>
                                <div class="lab-content">
                                    <h4>Qualified Doctors</h4>
                                    <p>
                                        Lorem ipsum dolor sit amete consectetur adipisicing elite. vlote optio animi?
                                    </p>
                                    <a href="#" class="">
                                        <span>
                                            Read More <i class="icofont-rounded-double-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Feature Section Ends Here========== -->
<!-- ==========Department Section Start Here========== -->
<section class="department-section padding-tb style-1">
    <div class="container">
        <div class="department-wrapper">
            <div class="section-header">
                <h2><span>We Are The </span></h2>
                <h2>Best Our Departments Centers</h2>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-12 col-xl-12">
                        <div class="">
                            <div class="department-top">
                                <ul class="nav dep-tab" role="tablist">
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                                        <a class="" href="#one" role="tab" data-toggle="tab">
                                            <img src="~/images/depart/icon/01.png" alt="depart">
                                        </a>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                        <a class="active" href="#two" role="tab" data-toggle="tab">
                                            <img src="~/images/depart/icon/02.png" alt="depart">
                                        </a>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                        <a class="" href="#three" role="tab" data-toggle="tab">
                                            <img src="~/images/depart/icon/03.png" alt="depart">
                                        </a>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                        <a class="" href="#four" role="tab" data-toggle="tab">
                                            <img src="~/images/depart/icon/04.png" alt="depart">
                                        </a>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                        <a class="" href="#five" role="tab" data-toggle="tab">
                                            <img src="~/images/depart/icon/05.png" alt="depart">
                                        </a>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                        <a class="" href="#six" role="tab" data-toggle="tab">
                                            <img src="~/images/depart/icon/06.png" alt="depart">
                                        </a>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                        <a class="" href="#seven" role="tab" data-toggle="tab">
                                            <img src="~/images/depart/icon/07.png" alt="depart">
                                        </a>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                                        <a class="" href="#eight" role="tab" data-toggle="tab">
                                            <img src="~/images/depart/icon/08.png" alt="depart">
                                        </a>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                                        <a class="" href="#nine" role="tab" data-toggle="tab">
                                            <img src="~/images/depart/icon/09.png" alt="depart">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="department-bottom wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="one">
                                    <div class="row flex-row-reverse align-items-center">
                                        <div class="col-12 col-lg-6">
                                            <div class="post-thumb">
                                                <img src="~/images/depart/07.jpg" alt="depart">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="post-content">
                                                <h3>Speciality Rhinology 1</h3>
                                                <p>
                                                    Procedur arrain manu producs rather convenet cuvate mantna this
                                                    man
                                                    Manucur produc rather conven cuvatie mantan this conven cuvate
                                                    bad
                                                    Credibly envisioneer ubiquitous niche markets transparent
                                                    relations
                                                    Dramatically enable worldwide action items whereas magnetic
                                                    source motin was procedur arramin
                                                </p>
                                                <ul>
                                                    <li>Qualified Doctors</li>
                                                    <li>Feel like Home Services</li>
                                                    <li>24×7 Emergency Services</li>
                                                    <li>Outdoor Checkup</li>
                                                    <li>General Medical</li>
                                                    <li>Easy and Affordable Billing</li>
                                                </ul>
                                                <a href="#" class="lab-btn">
                                                    <span>
                                                        Appointment Now <i class="icofont-rounded-double-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="two">
                                    <div class="row flex-row-reverse align-items-center">
                                        <div class="col-12 col-lg-6">
                                            <div class="post-thumb">
                                                <img src="~/images/depart/08.jpg" alt="depart">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="post-content">
                                                <h3>Speciality Rhinology 2</h3>
                                                <p>
                                                    Procedur arrain manu producs rather convenet cuvate mantna this
                                                    man
                                                    Manucur produc rather conven cuvatie mantan this conven cuvate
                                                    bad
                                                    Credibly envisioneer ubiquitous niche markets transparent
                                                    relations
                                                    Dramatically enable worldwide action items whereas magnetic
                                                    source motin was procedur arramin
                                                </p>
                                                <ul>
                                                    <li>Qualified Doctors</li>
                                                    <li>Feel like Home Services</li>
                                                    <li>24×7 Emergency Services</li>
                                                    <li>Outdoor Checkup</li>
                                                    <li>General Medical</li>
                                                    <li>Easy and Affordable Billing</li>
                                                </ul>
                                                <a href="#" class="lab-btn">
                                                    <span>
                                                        Appointment Now <i class="icofont-rounded-double-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="three">
                                    <div class="row flex-row-reverse align-items-center">
                                        <div class="col-12 col-lg-6">
                                            <div class="post-thumb">
                                                <img src="~/images/depart/09.jpg" alt="depart">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="post-content">
                                                <h3>Speciality Rhinology 3</h3>
                                                <p>
                                                    Procedur arrain manu producs rather convenet cuvate mantna this
                                                    man
                                                    Manucur produc rather conven cuvatie mantan this conven cuvate
                                                    bad
                                                    Credibly envisioneer ubiquitous niche markets transparent
                                                    relations
                                                    Dramatically enable worldwide action items whereas magnetic
                                                    source motin was procedur arramin
                                                </p>
                                                <ul>
                                                    <li>Qualified Doctors</li>
                                                    <li>Feel like Home Services</li>
                                                    <li>24×7 Emergency Services</li>
                                                    <li>Outdoor Checkup</li>
                                                    <li>General Medical</li>
                                                    <li>Easy and Affordable Billing</li>
                                                </ul>
                                                <a href="#" class="lab-btn">
                                                    <span>
                                                        Appointment Now <i class="icofont-rounded-double-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="four">
                                    <div class="row flex-row-reverse align-items-center">
                                        <div class="col-12 col-lg-6">
                                            <div class="post-thumb">
                                                <img src="~/images/depart/10.jpg" alt="depart">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="post-content">
                                                <h3>Speciality Rhinology 4</h3>
                                                <p>
                                                    Procedur arrain manu producs rather convenet cuvate mantna this
                                                    man
                                                    Manucur produc rather conven cuvatie mantan this conven cuvate
                                                    bad
                                                    Credibly envisioneer ubiquitous niche markets transparent
                                                    relations
                                                    Dramatically enable worldwide action items whereas magnetic
                                                    source motin was procedur arramin
                                                </p>
                                                <ul>
                                                    <li>Qualified Doctors</li>
                                                    <li>Feel like Home Services</li>
                                                    <li>24×7 Emergency Services</li>
                                                    <li>Outdoor Checkup</li>
                                                    <li>General Medical</li>
                                                    <li>Easy and Affordable Billing</li>
                                                </ul>
                                                <a href="#" class="lab-btn">
                                                    <span>
                                                        Appointment Now <i class="icofont-rounded-double-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="five">
                                    <div class="row flex-row-reverse align-items-center">
                                        <div class="col-12 col-lg-6">
                                            <div class="post-thumb">
                                                <img src="~/images/depart/4.jpg" alt="depart">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="post-content">
                                                <h3>Speciality Rhinology 5</h3>
                                                <p>
                                                    Procedur arrain manu producs rather convenet cuvate mantna this
                                                    man
                                                    Manucur produc rather conven cuvatie mantan this conven cuvate
                                                    bad
                                                    Credibly envisioneer ubiquitous niche markets transparent
                                                    relations
                                                    Dramatically enable worldwide action items whereas magnetic
                                                    source motin was procedur arramin
                                                </p>
                                                <ul>
                                                    <li>Qualified Doctors</li>
                                                    <li>Feel like Home Services</li>
                                                    <li>24×7 Emergency Services</li>
                                                    <li>Outdoor Checkup</li>
                                                    <li>General Medical</li>
                                                    <li>Easy and Affordable Billing</li>
                                                </ul>
                                                <a href="#" class="lab-btn">
                                                    <span>
                                                        Appointment Now <i class="icofont-rounded-double-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="six">
                                    <div class="row flex-row-reverse align-items-center">
                                        <div class="col-12 col-lg-6">
                                            <div class="post-thumb">
                                                <img src="~/images/depart/5.jpg" alt="depart">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="post-content">
                                                <h3>Speciality Rhinology 6</h3>
                                                <p>
                                                    Procedur arrain manu producs rather convenet cuvate mantna this
                                                    man
                                                    Manucur produc rather conven cuvatie mantan this conven cuvate
                                                    bad
                                                    Credibly envisioneer ubiquitous niche markets transparent
                                                    relations
                                                    Dramatically enable worldwide action items whereas magnetic
                                                    source motin was procedur arramin
                                                </p>
                                                <ul>
                                                    <li>Qualified Doctors</li>
                                                    <li>Feel like Home Services</li>
                                                    <li>24×7 Emergency Services</li>
                                                    <li>Outdoor Checkup</li>
                                                    <li>General Medical</li>
                                                    <li>Easy and Affordable Billing</li>
                                                </ul>
                                                <a href="#" class="lab-btn">
                                                    <span>
                                                        Appointment Now <i class="icofont-rounded-double-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="seven">
                                    <div class="row flex-row-reverse align-items-center">
                                        <div class="col-12 col-lg-6">
                                            <div class="post-thumb">
                                                <img src="~/images/depart/6.jpg" alt="depart">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="post-content">
                                                <h3>Speciality Rhinology 7</h3>
                                                <p>
                                                    Procedur arrain manu producs rather convenet cuvate mantna this
                                                    man
                                                    Manucur produc rather conven cuvatie mantan this conven cuvate
                                                    bad
                                                    Credibly envisioneer ubiquitous niche markets transparent
                                                    relations
                                                    Dramatically enable worldwide action items whereas magnetic
                                                    source motin was procedur arramin
                                                </p>
                                                <ul>
                                                    <li>Qualified Doctors</li>
                                                    <li>Feel like Home Services</li>
                                                    <li>24×7 Emergency Services</li>
                                                    <li>Outdoor Checkup</li>
                                                    <li>General Medical</li>
                                                    <li>Easy and Affordable Billing</li>
                                                </ul>
                                                <a href="#" class="lab-btn">
                                                    <span>
                                                        Appointment Now <i class="icofont-rounded-double-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="eight">
                                    <div class="row flex-row-reverse align-items-center">
                                        <div class="col-12 col-lg-6">
                                            <div class="post-thumb">
                                                <img src="~/images/depart/07.jpg" alt="depart">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="post-content">
                                                <h3>Speciality Rhinology 8</h3>
                                                <p>
                                                    Procedur arrain manu producs rather convenet cuvate mantna this
                                                    man
                                                    Manucur produc rather conven cuvatie mantan this conven cuvate
                                                    bad
                                                    Credibly envisioneer ubiquitous niche markets transparent
                                                    relations
                                                    Dramatically enable worldwide action items whereas magnetic
                                                    source motin was procedur arramin
                                                </p>
                                                <ul>
                                                    <li>Qualified Doctors</li>
                                                    <li>Feel like Home Services</li>
                                                    <li>24×7 Emergency Services</li>
                                                    <li>Outdoor Checkup</li>
                                                    <li>General Medical</li>
                                                    <li>Easy and Affordable Billing</li>
                                                </ul>
                                                <a href="#" class="lab-btn">
                                                    <span>
                                                        Appointment Now <i class="icofont-rounded-double-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="nine">
                                    <div class="row flex-row-reverse align-items-center">
                                        <div class="col-12 col-lg-6">
                                            <div class="post-thumb">
                                                <img src="~/images/depart/10.jpg" alt="depart">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="post-content">
                                                <h3>Speciality Rhinology 9</h3>
                                                <p>
                                                    Procedur arrain manu producs rather convenet cuvate mantna this
                                                    man
                                                    Manucur produc rather conven cuvatie mantan this conven cuvate
                                                    bad
                                                    Credibly envisioneer ubiquitous niche markets transparent
                                                    relations
                                                    Dramatically enable worldwide action items whereas magnetic
                                                    source motin was procedur arramin
                                                </p>
                                                <ul>
                                                    <li>Qualified Doctors</li>
                                                    <li>Feel like Home Services</li>
                                                    <li>24×7 Emergency Services</li>
                                                    <li>Outdoor Checkup</li>
                                                    <li>General Medical</li>
                                                    <li>Easy and Affordable Billing</li>
                                                </ul>
                                                <a href="#" class="lab-btn">
                                                    <span>
                                                        Appointment Now <i class="icofont-rounded-double-right"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Department Section Ends Here========== -->
<!-- ==========Counter Section Start Here========== -->
<div class="counter-section style-1 padding-60">
    <div class="container">
        <div class="section-wrapper">
            <div class="counter-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="counter-item-inner">
                    <div class="counter-thumb">
                        <img src="~/images/counter/01.png" alt="counter">
                    </div>
                    <div class="counter-content">
                        <h3 class="number"><span class="counter">500</span></h3>
                        <p class="post-content">Patients Every Day</p>
                    </div>
                </div>
            </div>
            <div class="counter-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                <div class="counter-item-inner">
                    <div class="counter-thumb">
                        <img src="~/images/counter/02.png" alt="counter">
                    </div>
                    <div class="counter-content">
                        <h3 class="number"><span class="counter">400</span></h3>
                        <p class="post-content">Qualified Doctors</p>
                    </div>
                </div>
            </div>
            <div class="counter-item wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="counter-item-inner">
                    <div class="counter-thumb">
                        <img src="~/images/counter/03.png" alt="counter">
                    </div>
                    <div class="counter-content">
                        <h3 class="number"><span class="counter">12</span></h3>
                        <p class="post-content">Years Experience</p>
                    </div>
                </div>
            </div>
            <div class="counter-item wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                <div class="counter-item-inner">
                    <div class="counter-thumb">
                        <img src="~/images/counter/04.png" alt="counter">
                    </div>
                    <div class="counter-content">
                        <h3 class="number"><span class="counter">350</span></h3>
                        <p class="post-content">Diagnosis Verity</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Counter Section Ends Here========== -->
<!-- ==========Service Section Start Here========== -->
<section class="service-section style-1 padding-tb bg-color">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <h2><span>We Are</span></h2>
            <h2>Offering Reliable Services</h2>
        </div>
        <div class="section-wrapper">
            <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="~/images/service/01.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Family Health Solutions</a></h4>
                        <p>
                            Proced arrain manu produc rather conve quvat mantan this conven multscplinari testin
                            motin was procedur aamng proced arrain manu produc rather conve quvat mantan this
                            convenmultscplinari testiners motin was procedur arraming
                        </p>
                        <a href="#" class="lab-btn">
                            <span>
                                Read More <i class="icofont-rounded-double-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="~/images/service/02.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Eye Care Solutions</a></h4>
                        <p>
                            Cabor levera then andin the
                            Qualit bwdh then covae thm
                            Uabor evera then andin meqe
                            Any value cordin
                        </p>
                        <a href="#" class="lab-btn">
                            <span>
                                Read More <i class="icofont-rounded-double-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-item wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="~/images/service/03.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Children’s Health</a></h4>
                        <p>
                            Cabor levera then andin the
                            Qualit bwdh then covae thm
                            Uabor evera then andin meqe
                            Any value cordin
                        </p>
                        <a href="#" class="lab-btn">
                            <span>
                                Read More <i class="icofont-rounded-double-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="service-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                <div class="service-inner">
                    <div class="service-thumb">
                        <img src="~/images/service/04.jpg" alt="service">
                    </div>
                    <div class="service-content">
                        <h4><a href="#">Dental Surgery</a></h4>
                        <p>
                            Proced arrain manu produc rather conve quvat mantan this conven multscplinari testin
                            motin was procedur aamng proced arrain manu produc rather conve quvat mantan this
                            convenmultscplinari testiners motin was procedur arraming
                        </p>
                        <a href="#" class="lab-btn">
                            <span>
                                Read More <i class="icofont-rounded-double-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Service Section Ends Here========== -->
<!-- ==========Doctor Section Start Here========== -->
<section class="doctor-section style-1 padding-tb">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <h2><span>Meet Our</span></h2>
            <h2>Mukti Professional Doctors</h2>
        </div>
        <div class="section-wrapper">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="doctor-inner">
                            <div class="doctor-thumb">
                                <img src="~/images/team/01.jpg" alt="doctor">
                            </div>
                            <div class="doctor-content">
                                <div class="doctor-name">
                                    <h4><a href="#">Dr. Jason Kovalsky</a></h4>
                                    <p class="digi">Cardiologist</p>
                                </div>
                                <ul class="doctor-contact">
                                    <li><span>Phone :</span> 658 222 127 964</li>
                                    <li><span>Email :</span> admin@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="doctor-inner">
                            <div class="doctor-thumb">
                                <img src="~/images/team/02.jpg" alt="doctor">
                            </div>
                            <div class="doctor-content">
                                <div class="doctor-name">
                                    <h4><a href="#">Patricia Mcneel</a></h4>
                                    <p class="digi">Pediatrist</p>
                                </div>
                                <ul class="doctor-contact">
                                    <li><span>Phone :</span> 658 222 127 964</li>
                                    <li><span>Email :</span> admin@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="doctor-inner">
                            <div class="doctor-thumb">
                                <img src="~/images/team/03.jpg" alt="doctor">
                            </div>
                            <div class="doctor-content">
                                <div class="doctor-name">
                                    <h4><a href="#">William Khanna</a></h4>
                                    <p class="digi">Throat Specialist</p>
                                </div>
                                <ul class="doctor-contact">
                                    <li><span>Phone :</span> 658 222 127 964</li>
                                    <li><span>Email :</span> admin@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="doctor-item style-1 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="doctor-inner">
                            <div class="doctor-thumb">
                                <img src="~/images/team/04.jpg" alt="doctor">
                            </div>
                            <div class="doctor-content">
                                <div class="doctor-name">
                                    <h4><a href="#">Eric Patterson</a></h4>
                                    <p class="digi">Therapy</p>
                                </div>
                                <ul class="doctor-contact">
                                    <li><span>Phone :</span> 658 222 127 964</li>
                                    <li><span>Email :</span> admin@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="doctor-btn text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <a href="#" class="lab-btn">
                <span>
                    view all doctors <i class="icofont-rounded-double-right"></i>
                </span>
            </a>
        </div>
    </div>
</section>
<!-- ==========Doctor Section Ends Here========== -->
<!-- ==========Appointment Section Start Here========== -->
<section class="appointment-section style-1">
    <div class="container">
        <div class="section-wrapper">
            <div class="appointment-left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="time-info">
                    <div class="al-title">
                        <h2><span>24 Hours </span></h2>
                        <h2>Opening Our Services</h2>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Satarday</div>
                            <div class="day-time">8:00 am-10:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Sunday</div>
                            <div class="day-time">6:00 am-8:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Monday</div>
                            <div class="day-time">6:00 am-2:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Tuesday</div>
                            <div class="day-time">7:00 am-9:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Widnessday</div>
                            <div class="day-time">10:00 am-12:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Thirsday</div>
                            <div class="day-time">2:00 am-6:00 pm</div>
                        </div>
                    </div>
                    <div class="dep-item">
                        <div class="dep-item-inner">
                            <div class="day-name">Friday</div>
                            <div class="day-time">Closed</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="appointment-right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="ar-title">
                    <h2><span>Make An</span></h2>
                    <h2>Appointment Now</h2>
                </div>
                <form action="/">
                    <input type="text" id="fname" name="firstname" placeholder="Your Name">
                    <select id="country" name="country">
                        <option value="1">Select Departments</option>
                        <option value="2">Dental</option>
                        <option value="3">U.C</option>
                    </select>
                    <input type="text" id="lname" name="lastname" placeholder="Phone Number">
                    <input type="date" id="start" name="trip-start" value="2021-02-21">
                    <button class="lab-btn" type="submit">
                        <span>
                            Appointment Now <i class="icofont-double-right"></i>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ==========Appointment Section Ends Here========== -->
<!-- ==========Blog Section Start Here========== -->
<section class="blog-section padding-tb bg-color">
    <div class="container">
        <div class="section-header wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <h2><span>News Feed</span></h2>
            <h2>Be The First To New Stories</h2>
        </div>
        <div class="section-wrapper">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="post-item-inner">
                        <div class="post-thumb">
                            <a href="~/images/blog/1.jpg" data-rel="lightcase:myCollection">
                                <img src="~/images/blog/1.jpg" alt="blog post images">
                            </a>
                        </div>
                        <div class="post-content">
                            <span class="meta">By <a href="#">Admin</a> March 24, 2021</span>
                            <h4><a href="#">Globa Empoer Extenve Chanels Extensve Creat Method</a></h4>
                            <p>
                                Complete actuaze centi centrcing colora and sharin without anstaled anding bases
                                aweme medicalplus Template.
                            </p>
                        </div>
                        <div class="blog-footer">
                            <a href="#" class="viewall">Read More <i class="icofont-double-right"></i></a>
                            <a href="#" class="blog-comment"><i class="icofont-comment"></i> 30</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="post-item-inner">
                        <div class="post-thumb">
                            <a href="~/images/blog/2.jpg" data-rel="lightcase:myCollection">
                                <img src="~/images/blog/2.jpg" alt="blog">
                            </a>
                        </div>
                        <div class="post-content">
                            <span class="meta">By <a href="#">Admin</a> March 24, 2021</span>
                            <h4><a href="#">Globa Empoer Extenve Chanels Extensve Creat Method</a></h4>
                            <p>
                                Complete actuaze centi centrcing colora and sharin without anstaled anding bases
                                aweme medicalplus Template.
                            </p>
                        </div>
                        <div class="blog-footer">
                            <a href="#" class="viewall">Read More <i class="icofont-double-right"></i></a>
                            <a href="#" class="blog-comment"><i class="icofont-comment"></i> 30</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="post-item-inner">
                        <div class="post-thumb">
                            <a href="~/images/blog/3.jpg" data-rel="lightcase:myCollection">
                                <img src="~/images/blog/3.jpg" alt="blog">
                            </a>
                        </div>
                        <div class="post-content">
                            <span class="meta">By <a href="#">Admin</a> March 24, 2021</span>
                            <h4><a href="#">Globa Empoer Extenve Chanels Extensve Creat Method</a></h4>
                            <p>
                                Complete actuaze centi centrcing colora and sharin without anstaled anding bases
                                aweme medicalplus Template.
                            </p>
                        </div>
                        <div class="blog-footer">
                            <a href="#" class="viewall">Read More <i class="icofont-double-right"></i></a>
                            <a href="#" class="blog-comment"><i class="icofont-comment"></i> 30</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Blog Section Ends Here========== -->
<!-- ==========Sponsor Section Start Here========== -->
<div class="sponsor-section">
    <div class="container">
        <div class="sponsor-area">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/1.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/2.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/3.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/4.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/5.png" alt="sponso-img">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sponsor-thumb">
                        <img src="~/images/sponsor/6.png" alt="sponso-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==========Sponsor Section Ends Here========== -->
<!-- ==========Newsletter Section Ends Here========== -->
<section class="newsletter-section style-1">
    <div class="container">
        <div class="section-wrapper">
            <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="news-title">
                    <h2>Join Our Newsletter</h2>
                </div>
            </div>
            <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
                <div class="news-input">
                    <label for="text"><i class="icofont-paper-plane"></i></label>
                    <input type="text" name="text" id="text" placeholder="Enter Your Email">
                    <button class="" type="submit" value="Submit-Now" name="submit">Subscribe Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Newsletter Section Ends Here========== -->